
.everything {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;

  text-align: center;
  background-image: url('../assets/background2.jpg');
  background-size:100% 100%;

  padding: 10px;

  font-size: 10pt;
  color: #b2b2b2;
}

@media (max-width: 481px) {
  .everything {
    padding: 5px;
  }
}

@media (min-width: 1100px) {
  .something {
    background-color: #0c0c20;
    border-radius: 30px;
    height: calc(100vh - 20px);
    overflow: auto;
  }

  .content {
    margin-right: 50px;
  }

  .customer {
    font-size: 30pt;
    font-family: cursive;

    color: #b2b2b2;
  }
}

@media (min-width: 481px) and (max-width: 1100px) {
  .something {
    background-color: #0c0c20;
    border-radius: 30px;
    height: calc(100vh - 20px);
    overflow: auto;
  }

  .content {
    margin-right: 20px;
  }

  .customer {
    font-size: 25pt;
    font-family: cursive;

    color: #b2b2b2;
  }
}

@media (max-width: 481px) {
  .something {
    background-color: #0c0c20;
    border-radius: 20px;
    height: calc(100vh - 10px);
    overflow: auto;
  }

  .customer {
    font-size: 25pt;
    font-family: cursive;

    color: #b2b2b2;
  }
}

.header {
  height: 50px;
  border-bottom: 1px solid #151550;

  margin: 10px;
}

.timeButton {
  width: 100%;
  height: 50px !important;
  margin: none !important;

  background-color: inherit !important;
  color: #b2b2b2 !important;
  border: none !important;
  border-radius: 0 !important;
  border-right: 1px solid #151550 !important;
}

.timeButtonActive {
  width: 100%;
  height: 50px !important;
  margin: none !important;

  background-color: inherit !important;
  color: #b2b2b2 !important;
  border: none !important;
  border-radius: 0 !important;
  border-right: 1px solid #151550 !important;
  border-bottom: 5px solid red !important;
}

.timeButton:hover {
  background-color: rgba(50,0,200,0.4) !important;
  color: #b2b2b2;
  border-color: #151550;
}

.searchModalContent {
  padding: 50px;
  border-radius: 20px;

  background-color: #222232;
  color: #b2b2b2;
}

.searchModalContent h1 {
  padding-bottom: 10px;
  font-size: 30pt;

  border-bottom: 2px solid red;
  margin-bottom: 20px;
}

.search {
  margin: 20px;
}

.search input {
  background: none;
  color: #b2b2b2;
  border: none;
  border: 2px solid #4c4c70;

  padding: 30px;
  font-size: 15pt;
}

.search input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b2b2b2;
  opacity: 0.5; /* Firefox */
}

.search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b2b2b2;
}

.search input::-ms-input-placeholder { /* Microsoft Edge */
  color: #b2b2b2;
}

