
.flowContainer {
  height: 400px;
}

.flowContainer text {
  stroke: #fff;
  stroke-width: 1.2;
  font-style: normal;
  font-family: 'Source Code Pro' !important;
  font-size: 11pt !important;
  font-weight: lighter;
}
