
.flowContainer {
  margin: 20px;
  overflow: none;
}

.containerGrid {
  padding: 20px;
}

.title {
  font-size: 13pt;
  color: #b2b2b2;
}

.flowContainer text {
  stroke: #fff;
  stroke-width: 1.2;
  font-style: normal;
  font-family: 'Source Code Pro' !important;
  font-size: 11pt !important;
  font-weight: lighter;

  padding: 20px;
}

.inflowLine {
  height: 50vh;
  max-height: 500px;
}

.outflowLine {
  height: 50vh;
  max-height: 500px;
}

.tables {
  overflow-y: scroll;
  height: 30vh !important;
  border-bottom: 1px solid #4c4c70;
}

.card {
}

.card > div {
  margin: 20px;
  background: linear-gradient(180deg, rgba(200,200,255,0.0) 60%, rgba(100,100,255,0.1));
}

.card * {
  color: #b4b4b4;
}

.metric {
  font-size: 30pt !important;
  padding-bottom: 10px;
  border-bottom: 10px solid #24145f;
}

