
.creditContainer {
  margin: 20px;
  overflow: none;
}

.containerGrid {
  height: 85vh;
}

.creditEvents {
  overflow-y: scroll;
  height: 50vh;
  border-bottom: 1px solid #4c4c70;
}

.creditWheel {
  height: 55vh;
}

.creditContainer text {
  stroke: #fff;
  stroke-width: 1.2;
  font-style: normal;
  font-family: 'Source Code Pro' !important;
  font-size: 9pt !important;
  font-weight: lighter;

  padding: 20px;
}

.card {
  background-color: inherit;
}

.card > div {
  margin: 20px;
  /* background: linear-gradient(180deg, rgba(200,200,255,0.0) 60%, rgba(100,100,255,0.1)); */
  background: linear-gradient(180deg, rgba(200,200,255,0.0) 70%, rgba(100,100,255,0.05));
}

.card * {
  color: #b4b4b4;
}

.metric {
  font-size: 30pt !important;
  padding-bottom: 10px;
  /* border-bottom: 10px solid #24145f; */
}
