
.creditContainer {
  margin: 20px;
  overflow: none;
}

.creditContainer text {
  stroke: #fff;
  stroke-width: 1.2;
  font-style: normal;
  font-family: 'Source Code Pro' !important;
  font-size: 9pt !important;
  font-weight: lighter;

  padding: 20px;
}

.tableHeader {
  font-size: 14pt;
  padding: 5px;
}

@media (min-width: 1100px) {
  .card {
    background-color: inherit;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .card > div {
    margin: 20px;
  }

  .card * {
    color: #b4b4b4;
  }

  .metric {
    font-size: 30pt !important;
    padding-bottom: 10px;
    /* border-bottom: 10px solid #24145f; */
  }

  .creditWheel {
    height: 55vh;
  }

  .creditEvents {
    overflow-y: scroll;
    height: 50vh;
    border-bottom: 1px solid #4c4c70;
  }
}


@media (max-width: 1100px) and (min-width: 481px) {

  .card {
    background-color: inherit;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .card * {
    color: #b4b4b4;
  }

  .metric {
    font-size: 16pt !important;
    padding-bottom: 10px;
  }

  .creditWheel {
    height: 55vh;
  }

  .creditEvents {
    overflow-y: none;
    height: 70vh;
    width: 70vw;
    border-bottom: 1px solid #4c4c70;
  }
}

@media (max-width: 481px) {

  .card {
    background-color: inherit;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  }

  :global(.card-content) {
    padding: 10px !important;
  }

  .card * {
    color: #b4b4b4;
  }

  .metric {
    font-size: 12pt !important;
    /* padding-bottom: 10px; */
    /* border-bottom: 10px solid #24145f; */
  }

  .creditWheel {
    height: 150vh;
  }

  .creditEvents {
    overflow-y: scroll;
    height: 90vh;
    border-bottom: 1px solid #4c4c70;
  }
}
