
.tableContainer {
  color: #b2b2b2;
  font-size: 9pt;

  overflow-y: auto;
}

.table {
  margin: auto;
  border: 2px solid #4c4c70;
  border-radius: 20px;
}

.thead {
  font-size: 11pt;
  color: #b2b2b2;
}

.th {
  color: #b2b2b2;
  padding: 15px;
}

.trhead {
  background-color: #151540;
  border-top: 2px solid #4c4c70;
}

.trhead:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.tbody {
  font-size: 11pt;
}

.tr {
  border-top: 2px solid #4c4c70;
}

.tbody :hover {
  background-color: #151540;
}

.td {
  padding: 15px;
  position: relative;
}

.tr :hover {
  background-color: #151550;
}
