@import "../../index.less";

.title {
  font-size: 11pt;
  color: var(--dark-text-color);
}

// .inventory {
//   /* background-color: green;
//   height: 200px; */
// }

.search {
  margin: 20px;
}

.search input {
  background: none;
  color: var(--dark-text-color);
  border: none;
  border: 2px solid var(--dark-input-color);
  /* border-bottom: 2px dashed var(--dark-input-color); */
}

.search input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--dark-text-color);
  opacity: 0.5; /* Firefox */
}

.search input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--dark-text-color);
}

.search input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--dark-text-color);
}
