
.sidebar {
  height: calc(100% - 50px);
  position: fixed;
  top: 30px;
  left: 20px;

  text-align: left;
  border-right:1px solid #3f3f3f;

  overflow-y: auto;
}

.logo {
  height: 100px;
  text-align: center;
  color: #b4b4b4;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.sidebarLink {
  padding: 0 !important;
  margin: 1px !important;
}

.menu {
  text-align: left;
}

.menu p {
  color: #555;
  font-size: 11pt;
}

.menu a {
  color: #b4b4b4;
  font-size: 13pt;
  min-width: 120px;
  width: 100%;
}

.menu a:hover {
  background-color: #0c0c20;
  color: #ff1616;
}

.createContainer {
  color: #b4b4b4;
  align-items: 'center';
  justify-content: 'center'
}

.create {
  right: 0px;
}

:global(.dropdown-content) {
  background-color: #0c0c20;
  border: 5px solid #2c2c40;
  margin-left: -40px;
  max-width: 200px;
}

:global(.menu-list a) {
  padding-top: .25em;
  padding-bottom: .25em;
}

:global(.dropdown-divider) {
  background-color: #6c6c80;
}

.create button {
  background: none !important;
  border: none !important;
  box-shadow: none;
}

.create span {
  color: #b4b4b4;
}
