
.sidebar {
  height: calc(90vh - 5px);
  position: fixed;
  top: 30px;
  left: 20px;

  text-align: left;
  border-right: 0.1px solid #3f3f3f;

  overflow-y: auto;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.sidebarLink {
  padding: 0px !important;
  margin: 4px !important;
}

@media (min-width: 1100px) {
  .menu {
    text-align: left;
  }

  .menu a {
    color: #b4b4b4;
    font-size: 13pt;
    width: 100%;
    height: 100%;
  }

  .logo {
    height: 100px;
    text-align: center;
    color: #b4b4b4;
    font-size: 12pt;
  }
}

@media (min-width: 481px) and (max-width: 1100px) {
  .menu {
    text-align: center;
    padding: 0 !important;
  }

  .menu a {
    color: #b4b4b4;
    font-size: 20pt;
    width: 100%;
    height: 100%;

    margin-bottom: 10px;
  }

  .logo {
    height: 100px;
    text-align: center;
    color: #b4b4b4;
    font-size: 0pt;
    margin-bottom: 50px;
  }
}

@media (max-width: 481px) {
  .menu {
    text-align: center;
    padding: 0 !important;
  }

  .menu a {
    color: #b4b4b4;
    font-size: 15pt;
    width: 100%;
    height: 100%;

    margin-bottom: 10px;
  }

  .logo {
    height: 35px;
    text-align: center;
    color: #b4b4b4;
    font-size: 0pt;
    margin-bottom: 10px;
  }
}

.menu p {
  color: #99a;
  font-size: 11pt;
}

.menu a:hover {
  background-color: #485fc7;
  color: #b4b4b4;
}

.createContainer {
  color: #b4b4b4;
  align-items: 'center';
  justify-content: 'center'
}

.create {
  right: 0px;
}

:global(.menu-label) {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

:global(.menu-list a) {
  padding-top: 3px;
  padding-bottom: 3px;
}

:global(.dropdown-divider) {
  background-color: #6c6c80;
}

.create button {
  background: none !important;
  border: none !important;
  box-shadow: none;
}

.create span {
  color: #b4b4b4;
}

.newItemModalContent {
  padding: 50px;
  border-radius: 20px;

  background-color: #222232;
  color: #b2b2b2;

  min-width: 50vw;
}

.newItemModalTitle {
  display: inline-flex;
}

.newItemModalClose {
  font-size: 20pt;
  position: absolute;
  right: 50px;
  top: 50px;
}

.newItemModalClose:hover {
  cursor: pointer;
}

.newItemModalContent h1 {
  padding-bottom: 10px;
  font-size: 30pt;

  border-bottom: 2px solid red;
  margin-bottom: 20px;
}

.newItemCell {
  padding: 10px;
  width: 100%;
}

.newItemCell :hover {
  color: #b2b2b2;
  border-bottom: 1px solid red;
}

.newItemClass {
  font-size: 14pt;
}

.newItemOption {
  color: #b2b2b2;
  font-size: 14pt;
}

